<!--
<head> 
  <title>point de vue de l'autre</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
-->

<body>
  <div class="box">
    <div class="columns">
      <div class="column">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
          </div>
          <div class="media-content">
            <p class="is-size-1">John Smith</p>
            <p class=" is-size-4">Art</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns"> 
          <div class="column"><div class="is-pulled-right"><p class="is-size-1">11:05 15/05/2021</p></div></div>
        </div>
        <div >
          <div class="column"><div class="is-pulled-right"><span class="tag is-rounded is-large" >interet</span></div> </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="card-image">
        <figure class="photo du post"> <!-- s'il y en a une -->
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="box">
        Yo bah on est là hein 
      </div>
      <button class="button is-rounded">
        like
      </button>
      <button class="button is-rounded">
        commentaire
      </button>
    </div>
    
  </div>
</body>
