<!--Page html chargée d'afficher le profil (avec sélection des centres d'intérêt entre autres)-->
<head>
<title>Welink | Profil</title>
</head>

{% extends 'bandeau.html' %}
{% block content %}

<!-- mise en place du cadre-->
<div class="columns">
    <!-- partie présentation du profil, non modifiable-->
    <div class="column is-full">
        <div class="notification" style="background-color: #87a0ff;">
            <div class="columns">
                <div class="column is-one-fourth">
                    <div class="box" style="width: 170px;">
                        <p class="has-text-centered">
                            <a href="https://ent.iledefrance.fr/userbook/mon-compte#/edit-me" target="_blank" rel="noopener noreferrer">
                                <img src="https://ent.iledefrance.fr/userbook/avatar/{{user['_id']}}?thumbnail=100x100" title="Votre photo de profil peut être changée depuis l'ENT.&#013Allez-y en cliquant ici !">
                            </a>
                        </p>
                    </div>
                </div>
                <div class="column is-one-fourth">
                    <div class="box">
                        <p class="has-text-centered">{{birth + user['prenom']}}</p>
                    </div>
                    <div class="box">
                        <p class="has-text-centered">{{user['lycee']}}</p>
                    </div>
                </div>
                <div class="column is-one-fourth">
                    <div class="box">
                        <p class="has-text-centered">{{user['nom']}}</p>
                    </div>
                    <div class="box">
                        <p class="has-text-centered">{{user['niveau']}}</p>
                    </div>
                </div>
                <div class="column is-one-fourth">
                    <div class="box">
                        <p class="has-text-centered">{{user['naissance']}}</p>
                    </div>
                    <div class="box">
                        <p class="has-text-centered">Nombre de messages : {{user['nbpost']}}</p>
                    </div>
                </div>
            </div>
            <!-- formulaire biographie-->
            <form class="box" action="/update/user/biographie" method="POST">
                <div class="field">
                    <label class="label">Biographie :</label>
                    <div class="field">
                        <p class="control">
                          <div class="form-group">
                            <textarea type="text" rows=9 style="width:100%;" class="form-control is-size-6 is-rounded" id="biographie" name="biographie" maxlength="500" placeholder="Maximum 500 caractères...">{{user['biographie']}}</textarea>
                          </div>
                        </p>
                      </div>
                </div>
                <button type="submit" class="button is-primary">
                    Enregistrer les modifications
                </button>
            </form>
            <!-- formulaire centres d'intérêt-->
            <form class="box" action="/update/user/interets" onsubmit="return update_interets(dropdown.selected());" method="POST">
                <div class="field">
                    <input name="hidTest" id="hidTest" type="hidden" value="">
                    <label class="label">Sélectionne tes centres d'intérêt :</label>
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="column">
                              <div class="column">
                                  <select id="multiple" multiple>
                                    {% for interet in gl_interets %}
                                      <option value="{{interet}}">{{interet}}</option>
                                    {% endfor %}
                                  </select>
                                  <script>
                                    var dropdown = new SlimSelect({
                                    select: '#multiple',
                                    placeholder: "Centres d'intérêt",
                                    searchText: "Rechercher",
                                    searchPlaceholder: "Aucun résultat",
                                    searchFocus: true,
                                    searchHighlight: true,
                                    closeOnSelect: false,
                                    showOptionTooltips: true,
                                    hideSelectedOption: true
                                    });
                                    var list = [];
                                    {% for interet in user['interets'] %}
                                    list.push("{{interet}}");
                                    {% endfor %}
                                    dropdown.set(list);
                                  </script>
                                </div>
                          </div>
                    </div>
                </div>
                <button type="submit" class="button is-primary">
                    Enregistrer les modifications
                </button>
            </form>
            <!-- formulaire réseaux-->
            <form class="box">
                <div class="field">
                    <label class="label">Partage tes autres réseaux :</label>
                    <div class="field is-grouped is-grouped-multiline">
                        {% for reseau, nom in user['reseaux'].items() %}
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag" style="background-color: #ffc162;">{{reseau}}</span>
                                <span class="tag" style="background-color: #ffe4c0;">{{nom}}</span>
                                <a class="tag is-delete" type="delete"></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="button is-primary">
                        Valider
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
